<div class="canvas">
  <div class="box">
    <p>Zvoľ si nájazd:</p>
    <div class="">Žltý močiar (1)
      <button routerLink="adventure/1">Vyslať</button>
    </div>
    <hr>
    <div class="">Okolie Dalnu (3)
      <button routerLink="adventure/3">Vyslať</button>
    </div>
    <hr>
    <div class="">Hory počiatku (4)
      <button routerLink="adventure/4">Vyslať</button>
    </div>
    <hr>
    <div class="">Čierne hory (5)
      <button routerLink="adventure/5">Vyslať</button>
    </div>
    <hr>
    <div class="">Pútnikov hvozd (10)
      <button routerLink="adventure/10">Vyslať</button>
    </div>
    <hr>
    <div class="">Tumno (24)
      <button routerLink="adventure/24">Vyslať</button>
    </div>
  </div>
</div>
