.container {
  display: grid;
  height: calc(100vh - 20px);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
    "game game game game game"
    "game game game game game"
    "game game game game game"
    "game game game game game"
    "game game game game game"
    "game game game game game"
    "game game game game game"
    "game game game game game"
    "game game game game game";
}

.menu {
  grid-area: menu;
  height: 16px;
  background: aliceblue;
  color: #1f1f1f !important;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 12px);
}

.panel {
  grid-area: panel;
  overflow-y: scroll;
}

.game {
  grid-area: game;
  padding-top: 26px;
}

#version {
  position: absolute;
  bottom: 0;
  right: 0;
}
