/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}

body {
  background: #1f1f1f;
  color: #fff6e5;
  font-size: 16px;
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: crosshair;
}

.box {
  background: rgba(0, 0, 0, .4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  padding: 2px;
  transition: background .1s;
  position: relative;
}

.box.mobile:hover {
  background: rgba(255, 255, 255, .4);
}

.message {
  background: #1f1f1f;
  display: inline-block;
  border-radius: 5px;
  padding: 1px 3px;
  margin: 1px;
  font-size: 0.9rem;

  &.offset30 {margin-left: 30px;}

  &.typeinitiative {background: aquamarine;color: #1f1f1f;}
  &.typefight {background: sienna;color: #1f1f1f;}
}

.mainmenu {
  margin: 0;
  padding: 0;
  font-size: 1em;

  li {
    display: inline-block;
    margin-right: 10px;
  }
}

.canvas {
  //background: rgba(51, 25, 6, 1);
  border-radius: 5px;
  position: absolute;
  padding: 0;
  max-height: calc(100vh - 280px);
  width: 75vw;
  z-index: 2;
  //margin: 50px;
  overflow: auto;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-100%);
}

.clearer {
  clear: left;
}

h1 {
  margin: 5px 0;
  font-size: 1.5em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
