/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}

body {
  background: #1f1f1f url("assets/img/trolliastrmina.png") no-repeat center center fixed;
  background-size: cover;
  color: #fff6e5;
  font-size: 16px;
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: crosshair;
}

.box {
  background: rgba(0, 0, 0, .4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 15px;
  transition: background .1s;
}

.box.mobile:hover {
  background: rgba(255, 255, 255, .4);
}

.message {
  background: #1f1f1f;
  display: inline-block;
  border-radius: 5px;
  padding: 3px 5px;
  margin: 2px;
  min-height: 25px;

  &.offset30 {margin-left: 30px;}

  &.typeinitiative {background: aquamarine;color: #1f1f1f;}
  &.typefight {background: sienna;color: #1f1f1f;}
}

.mainmenu {
  margin: 0;
  padding: 0;
  font-size: 2em;

  li {
    display: inline-block;
    margin-right: 10px;

    a {
      color: whitesmoke;
    }
  }
}

.canvas {
  max-width: 900px;
  margin: 0 auto;
}
