<div *ngIf="chosenRaid$ | async">
  <div style="width: 1000px; margin: 0px auto">
    <app-mobile *ngFor="let mob of displayMobs | filterByGroup:'1' | orderById:'Id';" [mob]="mob"></app-mobile>
    <br style="clear: left">
    <app-mobile *ngFor="let mob of displayMobs | filterByGroup:'2' | orderById:'Id';" [mob]="mob"></app-mobile>
  </div>
  <br style="clear: left">

  <button  [hidden]="battler?.BattleInProgress" style="padding: 10px; font-size: 3em">
    Ďalšia miestnosť
  </button>

  <div class="box" style="height: 300px; overflow-y: scroll; position: absolute; bottom: 0; width: 99%">
    <div [innerHTML]="JournalService.gameJournal"></div>
  </div>
</div>
